<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PokeDex</title>
    <style media="screen">
    [v-cloak] {
      display: none;
    }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h1>{{ pokename }}</h1>
      <input v-model="searchPokemon" placeholder="Search..." />
      <li v-for="pokemon in suggestedPokemons">
        <h2>{{ pokemon.identifier }}</h2>
        <img :src="'assets/images/pokemon/global-link/' + pokemon.id + '.png'" alt="">
      </li>
    </div>

    <script src="dist/bundle.js"></script>
  </body>
</html>
